{% extends 'base.html' %}

{% block content %}
<h2>Cambiar contraseña</h2>
{% if validlink %}

<form action="." method="POST">
	{% csrf_token %}
	{% for field in form %}
	<div class="form-group">
		{{ field.errors }}
		<label class="m-0">{{ field.label_tag }}</label>
		<p>{{ field }}</p>
	</div>
	{% endfor %}
	<button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% else %}
<p>token invalido</p>
<div class="mt-2">
	<a href="{% url 'password_reset' %}">recuperar contraseña nuevamente</a>
</div>
{% endif %}
{% endblock %}